// Global colours
@aui-color-atlassian: #205081;
@aui-color-hero: #3b7fc4;
@aui-color-focus: #3b73af;
@aui-color-link: #3b73af;
@aui-color-page: #fff;
@aui-color-faint: #f5f5f5;
@aui-color-mid: #707070;
@aui-color-text: #333;
@aui-color-highlight-primary: #f5f5f5;
@aui-color-highlight-secondary: #e6e6e6;

// Borders
@aui-border-color: #ccc;
@aui-border-radius: 3px;

// Grid
@aui-grid-unit: 10px;
@aui-grid-unit-half: @aui-grid-unit / 2;

// Lozenges and badges

// default
// - this is the style for a lozenge that has not been defined as a specific type
@aui-color-status-default-background: #ccc;
@aui-color-status-default-border: @aui-color-status-default-background;
@aui-color-status-default-foreground: #333;
// subtle version
@aui-color-status-default-background-subtle: #fff;
@aui-color-status-default-border-subtle: @aui-color-status-default-background;
@aui-color-status-default-foreground-subtle: @aui-color-status-default-foreground;

// success
// - items in a starting state eg a New issue in JIRA
@aui-color-status-success-background: #14892c;
@aui-color-status-success-border: @aui-color-status-success-background;
@aui-color-status-success-foreground: #fff;
// subtle version
@aui-color-status-success-background-subtle: #fff;
@aui-color-status-success-border-subtle: #b2d8b9;
@aui-color-status-success-foreground-subtle: @aui-color-status-success-background;

// error
// - items with problems or that have been removed
@aui-color-status-error-background: #d04437;
@aui-color-status-error-border: @aui-color-status-error-background;
@aui-color-status-error-foreground: #fff;
// subtle version
@aui-color-status-error-background-subtle: #fff;
@aui-color-status-error-border-subtle: #f8d3d1;
@aui-color-status-error-foreground-subtle: @aui-color-status-error-background;

// current
// - items being worked on eg an In Progress issue in JIRA
@aui-color-status-current-background: #ffd351;
@aui-color-status-current-border: @aui-color-status-current-background;
@aui-color-status-current-foreground: #594300;
// subtle version
@aui-color-status-current-background-subtle: #fff;
@aui-color-status-current-border-subtle: #ffe28c;
@aui-color-status-current-foreground-subtle: @aui-color-status-current-foreground;

// complete
// - items in a completed or modified state eg a Done issue in JIRA
@aui-color-status-complete-background: #4a6785;
@aui-color-status-complete-border: @aui-color-status-complete-background;
@aui-color-status-complete-foreground: #fff;
// subtle version
@aui-color-status-complete-background-subtle: #fff;
@aui-color-status-complete-border-subtle: #e4e8ed;
@aui-color-status-complete-foreground-subtle: @aui-color-status-complete-background;

// moved
// - items that have been moved
@aui-color-status-moved-background: #815B3a;
@aui-color-status-moved-border: @aui-color-status-moved-background;
@aui-color-status-moved-foreground: #fff;
// subtle version
@aui-color-status-moved-background-subtle: #fff;
@aui-color-status-moved-border-subtle: #ece7e2;
@aui-color-status-moved-foreground-subtle: @aui-color-status-moved-background;