/*
* Icon Font
* - use when you need to change the colour of the icon via CSS - eg on hover or to match Look and Feel customisations
*/
@font-face {
    font-family: "Atlassian Icons";
    src: url(atlassian-icons.eot);
    src: url(atlassian-icons.eot?#iefix) format("embedded-opentype"),
    url(atlassian-icons.woff) format("woff"),
    url(atlassian-icons.ttf) format("truetype"),
    url(atlassian-icons.svg#atlassian-icons) format("svg");
    font-weight: normal;
    font-style: normal;
}

.aui-icon-small,
.aui-icon-large {
    line-height: 0;
    position: relative;
    vertical-align: text-top;
}
.aui-icon-small {
    height: 16px;
    width: 16px;
}
.aui-icon-large {
    height: 32px;
    width: 32px;
}
.aui-icon-small:before,
.aui-icon-large:before {
    color: inherit;
    font-family: "Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased; /* Improves the rendering of icons */
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    speak: none; /* This prevents screen readers from pronouncing the pseudo element text content used to trigger the icon font */
    top: 50%;
}
.aui-icon-small:before {
    font-size: 16px;
    margin-top: -9px; /* (font-size/2)+1 negative margin - the +1 is for font rendering weirdness across browsers  */
}
.aui-icon-large:before {
    font-size: 32px;
    margin-top: -17px; /* (font-size/2)+1 negative margin - the +1 is for font rendering weirdness across browsers  */
}

/* Icon Types */
.aui-iconfont-view:before {
    content: "A";
}
.aui-iconfont-configure:before {
    content: "B";
}
.aui-iconfont-add:before {
    content: "C";
}
.aui-iconfont-help:before {
    content: "D";
}
.aui-iconfont-search:before {
    content: "E";
}
.aui-iconfont-success:before {
    content: "F";
}
.aui-iconfont-workbox:before {
    content: "G";
}
.aui-iconfont-workbox-empty:before {
    content: "H";
}
.aui-iconfont-email:before {
    content: "I";
}
.aui-iconfont-appswitcher:before {
    content: "J";
}
.aui-iconfont-comment:before {
    content: "K";
}
.aui-iconfont-add-comment:before {
    content: "L";
}
.aui-iconfont-search-small:before {
    content: "M";
}
.aui-iconfont-remove:before {
    content: "N";
}
.aui-iconfont-close-dialog:before {
    content: "O";
}
.aui-iconfont-remove-label:before {
    content: "P";
}
.aui-iconfont-time:before {
    content: "Q";
}
.aui-iconfont-error:before {
    content: "R";
}
.aui-iconfont-info:before {
    content: "S";
}
.aui-iconfont-approve:before {
    content: "T";
}
.aui-iconfont-edit:before {
    content: "U";
}
.aui-iconfont-share:before {
    content: "V";
}
.aui-iconfont-build:before {
    content: "W";
}
.aui-iconfont-user:before {
    content: "X";
}
.aui-iconfont-jira:before {
    content: "Y";
}