/*! AUI Badge */
.aui-badge {
    background: #ccc; /* for IE8 - IE9 and other browsers gets the next line */
    background: rgba(0, 0, 0, 0.2); /* #ccc - derived with black on white - rgba so it tints off the background colour */
    border-radius: 2em; /* needs to be at least 1em + border-top + border-bottom + padding-top + padding-bottom to get perfectly rounded */
    color: #333; /* for IE8 - IE9 and other browsers gets the next line */
    color: rgba(0, 0, 0, .8); /* #333 on white - rgba so it tints off the background colour */
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    min-width: 1em; /* want a capsule style even when single digit */
    padding: 3px 5px 2px 5px; /* override in aui-badge-ie.css */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}
/* Light version for contexts we know about */
.aui-header a:active > .aui-badge,
.aui-button-primary > .aui-badge,
.aui-dropdown2.aui-style-default .active > .aui-badge {
    background: #6B95C2; /* for IE8 - IE9 and other browsers gets the next line */
    background: rgba(255, 255, 255, .25);
    color: #fff;
}
.aui-button[disabled] > .aui-badge {
    background: #ccc; /* for IE8 - IE9 and other browsers gets the next line */
    background: rgba(0, 0, 0, 0.2); /* #ccc - derived with black on white - rgba so it tints off the background colour */
    color: inherit;
}
.aui-button-primary[disabled] > .aui-badge {
    background: #ccc; /* for IE8 - IE9 and other browsers gets the next line */
    background: rgba(255, 255, 255, .25);
}
.aui-button > .aui-badge,
.aui-tabs .menu-item .aui-badge {
    top: -1px; /* slight tweak to position them in specific contexts */
}